{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
    background-color: #ffffff 
    font-family:sans-serif;
    color: #333;
}

a {
    text-decoration: none;
   color: #333;
}

.header {
   width: 90%;
   margin: 20px auto;
   background: #417aa8;
   height: auto;
   padding: 30px 20px;
   border-radius: 8px;
   box-shadow:  0 2px 5px rgba(0,0,0,0.1);
   text-align: center;
   color: pink
}

.jarak {
    pading: 0 20px;
}

.menu {
    background-color:#417aa8;
    height:50px;
    line-hight:50px;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:0 auto;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    float: left;
    width: auto;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #356789;
}

.content {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
    border: 1px solid #eee;
   margim-bottom: 20px;
}

.border {
    padding: 20px;
    overflow: hidden;
}

.kiri {
    width :70%;
    float: left;
    background: #fff;
    padding: 0 20px;
}

.kiri h2 {
    color: #417aa8;
    margin-bottom: 15px;
    border-botom: 2px solid #eee;
    padding-bottom: 10px;
}

.kiri p {
    line-height: 1.6x;
    margin-bottom: 15px;
    padding bottom: 10px;
}
   
.kanan {
    width: 30%;
    float :left;
    background: #f9f9f9;
    padding: 20px;
    border-left: 1px solid #eee;
}

.kanan h3 {
    background: #417aa8;
    color: #fff:
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 5px;
}

.kanan ul {
    list-style: none;
}

.kanan ul li {
    border-bottom: 1px dotted #ccc;
}

.undecor {
    text-decoration: none;
    color: #333;
}

.undecor:hover {
   color: #417aa8;
}

.footer {
    width: 90%;
    margin: 0 auto 20px auto;
    background: #417aa8;
    height: auto;
    padding: 20px;
    teks-align: center;
    color: pick; 
    clear: both;
    border-radius: 8px;
    box-shadow:  0 2pc 55px rgsm
}
    


